nav {
  background-color: #04BEF4;
  text-align: center;
  width: 100%;
  border-radius:0% 0% 20% 20%;
}

#images{
  display: flex;
  flex-direction: column;
  width: 20%;
  float: left;
  padding-right: 0%;
}

#form{
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;


}
#ContactUs {
  text-align: center;
}

#images2 {
  display: flex;
  flex-direction: column;
  width: 20%;
  float: right;
  justify-content: right;
}
