+@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');

nav {
  background-color: #04BEF4;
  border-radius: 0% 0% 20% 20%;
  margin-bottom: 0px;
  text-align: center;
  color: white;
}

ul{
  display:inline-block;
  background-color:#04BEF4;
  font-size:19px;

}

h1{
	font-size:32px;
	font-weight:bold;
	color:white;
}

.topdirect{
	padding-left:100px;
}


#bottomn{
	color:white;
	padding-left:15%;
	padding-top:20px;
	text-align:center;
}

#ContactUs{
	background-color:#04BEF4;
	margin:0px;
	border-radius:20% 20% 0% 0%;
	text-align:center;
}
.bottomContact{
	padding-left:130px;
	padding-top:0px;
	padding-right:100px;
}

#images {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	height: 30%;
	width: 30%;
	border-radius: 50%;

}

form {
	text-align: center;
	font-family: Faustina;
}

#inventoryselection {
	height: 100px;
	width: 300px;
}

#qoc {
	height: 100px;
	width: 300px;
}
