@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

/*Navigation Contact*/
nav{
	background-color:#04BEF4;
	border-radius:0% 0% 20% 20%;
	margin-bottom:0px;
	text-align:center;
	color:white;
}
h1{
	font-size:32px;
	font-weight:bold;
	color:white;
	font-family: Faustina;
}
ul{
	display:inline-block;
	background-color:#04BEF4;
	font-size:19px;
}
li{
	list-style-type:none;
}

a {
	color:white;
	text-decoration:none;
}
.topdirect{
	padding-left:100px;
	font-family: Lobster Two;
}
#bottomn{
	color:white;
	padding-left:15%;
	padding-top:20px;
	text-align:center;
}

#ContactUs{
	background-color:#04BEF4;
	margin:0px;
	border-radius:20% 20% 0% 0%;
	text-align:center;
}
.bottomContact{
	padding-left:130px;
	padding-top:0px;
	padding-right:100px;
	font-family: Lobster Two;
}
/*Body Layout*/
body{
	margin:0px;
}
div{
	display:flex;
	margin:0px;
	flex-direction:row;
	flex-wrap:wrap;
	border-radius: 10px;
	text-align:center;
}
#ParaTwo{
	max-width:40%;
}
img{
	width:20%;
	height:20%;
	border-radius:100%;
}
#ImageTwo{
	margin-left:200px;
	margin-right:100px;
	margin-top:100px;
	height:30%;
	border-radius:100%;
	width:30%;
}

}
#ParaOne{
	margin-left:100px;
	margin-right:200px;
	max-width:40%;
	margin-top:100px;
}
#ImageOne{
	margin-top:150px;
	width:20%;
	height:20%;
	border-radius:100%;
}
/*Mobile Styles*/
@media screen and (min-width: 320px) {
  nav {
    width:400px;
  }
  h1{
	font-size:10px;
}
  .topdirect{
	padding-left:10px;
	padding-right:10px;
}
  p{
	  max-width:320px;
	 
	  font-size:15px;
	  margin-right:0px;
	 /* height:200px;
*/  }
	#ParaOne{
	margin-left:20%;
	margin-right:0px;
	max-width:320px;
	height:330px;
	margin-top:10px;
}
	#ImageOne{
	margin-top:100px;
	margin-left:400px;
	margin-bottom:210px;
	width:60%;
	height:60%;
	border-radius:100%;
}
	#ParaTwo{
	max-width:320px;
	margin-left:20%;
	margin-right:auto;
	margin-bottom:0px;
	height:850px;
}
	#ImageTwo{
	margin-left:50%;
	margin-right:0px;
	margin-top:0px;
	height:80%;
	border-radius:100%;
	width:80%;
}
nav{
	background-color:#04BEF4;
	border-radius:0% 0% 20% 20%;
	margin-bottom:0px;
	text-align:center;
	color:white;
	width:450px;
	padding-left:100px;
	padding-right:180px;
	
}
h1{
	font-size:32px;
	font-weight:bold;
	color:white;
}
ul{
	display:inline-block;
	background-color:#04BEF4;
	font-size:20px;
	padding-right:0px;
	padding-left:0px;
}
li{
	height:150px;
	width:500px;
	list-style-type:none;
}
  body{
	  width:100%;
  }
  #bottomn{
	padding-left:100px;
	padding-right:15%;
	padding-top:0px;
	text-align:center;
	width:600px;
	margin-right:0px;
	border-radius:20% 20% 0% 0%;
	
}
#ContactUs{
	width:720px;
	margin:0px;
	text-align:center;
	font-size:40px;
	
}
.bottomContact{
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	font-size:15px;
}
  }

@media screen and (min-width: 425px) {
	ul{
	display:inline-block;
	background-color:#04BEF4;
	font-size:20px;
	padding-right:60px;
	padding-left:40px;
}
li{
	height:150px;
	width:500px;
	list-style-type:none;
	margin-left:80px;
}
 .topdirect{
	padding-left:0px;
	padding-right:0px;
}
 p{
	  max-width:320px;
	 
	  font-size:15px;
	  margin-right:0px;
	 /* height:200px;
*/  }
	#ParaOne{
	margin-left:20%;
	margin-right:0px;
	max-width:320px;
	height:330px;
	margin-top:10px;
}
	#ImageOne{
	margin-top:0px;
	margin-left:450px;
	margin-bottom:100px;
	width:80%;
	height:80%;
	border-radius:100%;
}
	#ParaTwo{
	max-width:420px;
	margin-left:95%;
	margin-right:auto;
	margin-bottom:0px;
	height:650px;
	margin-top:0px;
}
	#ImageTwo{
	margin-left:3%;
	margin-right:0px;
	margin-top:0px;
	height:0%;
	border-radius:80%;
	width:80%;
}
#bottomn{
	padding-left:100px;
	padding-right:15%;
	padding-top:0px;
	text-align:center;
	width:600px;
	margin-right:0px;
	border-radius:20% 20% 0% 0%;
	
}
#ContactUs{
	width:850px;
	margin:0px;
	text-align:center;
	font-size:40px;
	
}
.bottomContact{
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	font-size:15px;
}
nav{
	background-color:#04BEF4;
	border-radius:0% 0% 20% 20%;
	margin-bottom:20px;
	text-align:center;
	color:white;
	width:570px;
	padding-left:100px;
	padding-right:180px;
	
}
 .topdirect{
	padding-left:0px;
	padding-right:30px;
}
}
@media screen and (min-width: 1024px) {
		#ParaOne{
	margin-left:10%;
	margin-right:0px;
	max-width:560px;
	height:0px;
	margin-top:100px;
	font-size:14px;
}
	#ImageOne{
	margin-top:0px;
	margin-left:780px;
	margin-bottom:0px;
	width:35%;
	height:35%;
	border-radius:100%;
}
	#ParaTwo{
	max-width:520px;
	margin-left:5%;
	margin-right:0px;
	margin-top:100px;
	margin-bottom:20px;
	height:500px;
}
	#ImageTwo{
	margin-left:1%;
	margin-right:0%;
	margin-top:0px;
	height:35%;
	border-radius:100%;
	width:35%;
}
nav{
	background-color:#04BEF4;
	border-radius:0% 0% 20% 20%;
	margin-bottom:20px;
	text-align:center;
	color:white;
	width:100%;
	padding-left:0px;
	padding-right:0px;
	
}
 .topdirect{
	padding-left:0px;
	padding-right:30px;
}
li{
	height:150px;
	width:700px;
	list-style-type:none;
	margin-left:auto;
	margin-right:auto;
}
#bottomn{
	padding-left:100px;
	padding-right:15%;
	padding-top:0px;
	text-align:center;
	width:600px;
	margin-right:auto;
	margin-left:auto;
	border-radius:20% 20% 0% 0%;
	
}
#ContactUs{
	width:100%;
	margin:0px;
	text-align:center;
	font-size:40px;
	
}
.bottomContact{
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	font-size:15px;
}

}
