nav{
  background-color:#04BEF4;
	margin-bottom:0px;
	text-align:center;
	color:white;}
ul{
	display:inline-block;
	background-color:#04BEF4;
	font-size:19px;
	margin-left:100px;
	margin-right:100px;
}
li{
	list-style-type:none;
}
#bottomn{
	color:white;
	padding-left:15%;
	padding-top:20px;
	text-align:center;
}

#ContactUs{
	background-color:#04BEF4;
	margin:0px;
	text-align:center;
}
.bottomContact{
	padding-left:130px;
	
	padding-right:100px;
}
